@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .wrapper{
     padding: 20px;
     border: 1px solid #ddd;
  }
  button{
    padding: 10px 30px;
    background: #000;
    color: #fff;
    margin: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} 

.title{
  font-size: 24px;
  font-weight: 600;
}
}